<!DOCTYPE html>
<html lang="en">

    <head>
        <!-- Required meta tags-->
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="au theme template">
        <meta name="author" content="Hau Nguyen">
        <meta name="keywords" content="au theme template">
    
        <!-- Title Page-->
        <title>Usuários</title>
    
        <!-- Fontfaces CSS-->
        <link href="../public/css/font-face.css" rel="stylesheet" media="all">
        <link href="../public/vendor/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" media="all">
        <link href="../public/vendor/font-awesome-5/css/fontawesome-all.min.css" rel="stylesheet" media="all">
        <link href="../public/vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">
    
        <!-- Bootstrap CSS-->
        <link href="../public/vendor/bootstrap-4.1/bootstrap.min.css" rel="stylesheet" media="all">
    
        <!-- Vendor CSS-->
        <link href="../public/vendor/animsition/animsition.min.css" rel="stylesheet" media="all">
        <link href="../public/vendor/bootstrap-progressbar/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet" media="all">
        <link href="../public/vendor/wow/animate.css" rel="stylesheet" media="all">
        <link href="../public/vendor/css-hamburgers/hamburgers.min.css" rel="stylesheet" media="all">
        <link href="../public/vendor/slick/slick.css" rel="stylesheet" media="all">
        <link href="../public/vendor/select2/select2.min.css" rel="stylesheet" media="all">
        <link href="../public/vendor/perfect-scrollbar/perfect-scrollbar.css" rel="stylesheet" media="all">
    
        <!-- Main CSS-->
        <link href="../public/css/theme.css" rel="stylesheet" media="all">
    
        <link rel="stylesheet" href="../public/css/index.css">
    
    </head>

<body class="animsition">
    <div class="page-wrapper">
        <!-- HEADER MOBILE-->
        <header class="header-mobile d-block d-lg-none">
            <div class="header-mobile__bar">
                <div class="container-fluid">
                    <div class="header-mobile-inner">
                        <button class="hamburger hamburger--slider" type="button">
                            <span class="hamburger-box">
                                <span class="hamburger-inner"></span>
                            </span>
                        </button>
                    </div>
                </div>
            </div>
            <nav class="navbar-mobile">
                <div class="container-fluid">
                    <ul class="navbar-mobile__list list-unstyled">
                        <li>
                            <a href="index.html">
                                <i class="fas fa-tachometer-alt"></i>Dashboard</a>
                        </li>
                        <li>
                            <a href="clients.html">
                                <i class="fas fa-briefcase"></i>Clientes</a>
                        </li>
                        <li>
                            <a href="users.html">
                                <i class="fas fa-users"></i>Usuários</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <!-- END HEADER MOBILE-->

        <!-- MENU SIDEBAR-->
        <aside class="menu-sidebar d-none d-lg-block">
            <div class="logo">
                <a href="#">
                    <img src="images/icon/logo-example.jpg" alt="Logo Example" />
                </a>
            </div>
            <div class="menu-sidebar__content js-scrollbar1">
                <nav class="navbar-sidebar">
                    <ul class="list-unstyled navbar__list">
                        <li>
                            <a href="index.html">
                                <i class="fas fa-tachometer-alt"></i>Dashboard</a>
                        </li>
                        <li>
                            <a href="clients.html">
                                <i class="fas fa-briefcase"></i>Clientes</a>
                        </li>
                        <li class="active">
                            <a href="users.html">
                                <i class="fas fa-users"></i>Usuários</a>
                        </li>
                    </ul>
                    </li>
                    </ul>
                </nav>
            </div>
        </aside>
        <!-- END MENU SIDEBAR-->

        <!-- PAGE CONTAINER-->
        <div class="page-container">
            <!-- HEADER DESKTOP-->
            <header class="header-desktop">
                <div class="section__content section__content--p30">
                    <div class="container-fluid">
                        <div class="float-right header-wrap">
                            <div class="header-button">
                                <div class="account-wrap">
                                    <div class="account-item clearfix js-item-menu">
                                        <div class="image">
                                            <img src="images/icon/avatar.jpg" alt="John Doe" />
                                        </div>
                                        <div class="content">
                                            <a class="js-acc-btn" href="#">bruno inácio</a>
                                        </div>
                                        <div class="account-dropdown js-dropdown">
                                            <div class="account-dropdown__body">
                                                <div class="account-dropdown__item">
                                                    <a href="profile.html">
                                                        <i class="zmdi zmdi-account"></i>Perfil</a>
                                                </div>
                                            </div>
                                            <div class="account-dropdown__footer">
                                                <a href="#">
                                                    <i class="zmdi zmdi-power"></i>Sair</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <!-- HEADER DESKTOP-->

            <!-- MAIN CONTENT-->
            <div class="main-content">
                <div class="section__content section__content--p30">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-12">
                                <!-- DATA TABLE -->
                                <h3 class="title-5 m-b-35">Usuários</h3>
                                <div class="table-data__tool">
                                    <div class="table-data__tool-right">
                                        <a href="new-user"><button class="au-btn au-btn-icon au-btn--green au-btn--small">
                                            <i class="zmdi zmdi-plus"></i>novo usuário</button></a>
                                    </div>
                                </div>
                                <div class="table-responsive table-responsive-data2">
                                    <table class="table table-data2">
                                        <thead>
                                            <tr>
                                                <th>código</th>
                                                <th>usuário</th>
                                                <th>email</th>
                                                <th>permissão</th>
                                                <th>status</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr class="tr-shadow">
                                                <td>0001</td>
                                                <td>Bruno Inácio</td>
                                                <td>
                                                    <span class="block-email">email@example.com</span>
                                                </td>
                                                <td>
                                                    <span>Administrador</span>
                                                </td>
                                                <td>
                                                    <i class="status--process fas fa-check"></i>
                                                </td>
                                                <td>
                                                    <div class="table-data-feature">
                                                        <button class="item" data-toggle="tooltip" data-placement="top"
                                                            title="Editar">
                                                            <a href="edit-user"><i class="zmdi zmdi-edit"></i></a>
                                                        </button>
                                                        <button class="item" data-toggle="tooltip" data-placement="top"
                                                            title="Desativar">
                                                            <i class="zmdi zmdi-close"></i>
                                                        </button>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr class="tr-shadow">
                                                <td>0002</td>
                                                <td>Example</td>
                                                <td>
                                                    <span class="block-email">example@example.com</span>
                                                </td>
                                                <td>
                                                    <span>Usuário</span>
                                                </td>
                                                <td>
                                                    <i class="status--denied fas fa-window-close"></i>
                                                </td>
                                                <td>
                                                    <div class="table-data-feature">
                                                        <button class="item" data-toggle="tooltip" data-placement="top"
                                                            title="Editar">
                                                            <a href="edit.html"><i class="zmdi zmdi-edit"></i></a>
                                                        </button>
                                                        <button class="item" data-toggle="tooltip" data-placement="top"
                                                            title="Ativar">
                                                            <i class="zmdi zmdi-check"></i>
                                                        </button>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END MAIN CONTENT-->
            <!-- END PAGE CONTAINER-->
        </div>

    </div>

    <!-- Jquery JS-->
    <script src="../public/vendor/jquery-3.2.1.min.js"></script>
    <!-- Bootstrap JS-->
    <script src="../public/vendor/bootstrap-4.1/popper.min.js"></script>
    <script src="../public/vendor/bootstrap-4.1/bootstrap.min.js"></script>
    <!-- Vendor JS       -->
    <script src="../public/vendor/slick/slick.min.js">
    </script>
    <script src="../public/vendor/wow/wow.min.js"></script>
    <script src="../public/vendor/animsition/animsition.min.js"></script>
    <script src="../public/vendor/bootstrap-progressbar/bootstrap-progressbar.min.js">
    </script>
    <script src="../public/vendor/counter-up/jquery.waypoints.min.js"></script>
    <script src="../public/vendor/counter-up/jquery.counterup.min.js">
    </script>
    <script src="../public/vendor/circle-progress/circle-progress.min.js"></script>
    <script src="../public/vendor/perfect-scrollbar/perfect-scrollbar.js"></script>
    <script src="../public/vendor/chartjs/Chart.bundle.min.js"></script>
    <script src="../public/vendor/select2/select2.min.js">
    </script>

    <!-- Main JS-->
    <script src="../public/js/main.js"></script>

</body>

</html>
<!-- end document-->